h1 About

article 
  p This really cool application is created by Hunter student Slavisa Djukic. It offers unique ability to send public message to all the app users and private message to individual users.
